// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:        "../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//adminlte
@import "~admin-lte/dist/css/adminlte.css";
//fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-exact-active {
  background-color: #9561e2;
  color: #fff;
}

nav.font{
   font-size: 18px;
   font-weight: 700;
}
.font{
   font-size: 18px;
   font-weight: 700;
   cursor: #fff;
}
nav{
   background-color: #254E58;
   /*opacity: 0.5;*/
}
.color{
   background-color: #254E58;
   /*opacity: 0.5;*/
}
.lead{
   font-weight: 700;
   font-size: 20px;
}
.lead2{
   font-size: 17px;
}
.featurette{
   font-weight: 700;
   color: #254E58;
}
.home{
     background-image: linear-gradient(to right, rgba(136,189,188, 0.2), rgba(136,189,188, 0.5), rgba(136,189,188, 1)), url(./img/write.jpg);
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}
 .center{
   align-content: center;
   text-align: center;
 }
.hero-text{
   padding-top: 15%;
   padding-bottom: 15.2%;
   align-content: center;
   text-align: center;
   color: #254E58;

}
.bg-custom{
   background-color: #ededed;
}

.masthead {
  height: 70vh;
  min-height: 500px;
  // background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-image: linear-gradient(to right, rgba(136,189,188, 0.8), rgba(136,189,188, 0.8), rgba(136,189,188, 0.8)), url(./img/order.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}