// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:        "../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//adminlte
@import "~admin-lte/dist/css/adminlte.css";
//fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-exact-active {
  background-color: #9561e2;
  color: #fff;
}
* {
  font-family: "Roboto";
  font-size: 16px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.font{
   font-size: 18px;
   font-weight: 700;
   cursor: #fff;
}
nav.font{
   font-size: 16px;
   font-weight: 700;

}
nav{
   background-color: #6369DC;
   font-family: "Roboto" san serif;
   /*opacity: 0.5;*/
}
.nav-link {
  color: #000000;
  font-size: 16px;
  margin-right: 10px;
}
.header-area {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: transparent;

}
.header-area a {
  color: #fff;
}
.header-area a:hover {
  color: #3B0927;
  transition: color 1s;
}
.stick {
  transition-delay: 10;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: #f7f7f7;
  color: #000;
  transition: background-color 0.7s ease-out;
}
.stick a {
  color: #000;
  transition: color 1s ease-out;
}
.sidebar-dark-primary{
  background-color: #254E58;
}
.card-header{
  background-color: #254E58;
}
.color{
   background-color: #2B2E28;
   /*opacity: 0.5;*/
}
.colorw{
   color: #FFFFFF;
}
.card-title{
  color: #fff;
}
.lead{
   font-weight: 700;
   font-size: 20px;
}
.lead2{
   font-size: 18px;
}
.lead3{
   font-size: 20px;
}
.featurette{
   font-weight: 700;
   color: #254E58;
}
.home{
     // background-image: linear-gradient(to right, rgba(136,189,188, 0.2), rgba(136,189,188, 0.5), rgba(136,189,188, 1)), url(./img/write.jpg);
     // background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)), url(./img/home.jpg);
     background: linear-gradient(to left, rgba(101,173,184,0.5760679271708684) 2%, rgba(205,52,250,0.34637605042016806) 53%, rgba(214,45,253,0.6068802521008403) 77%), url(./img/home.jpg);
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     color: #fff;
}
.order-form {
  margin: 0px 25px 5px;
}
 .center{
   align-content: center;
   text-align: center;
 }

 .home .row .card {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
 }
.hero-text{
   padding-top: 10%;
   padding-bottom: 5.2%;
   vertical-align: 50%;
   align-content: center;
   text-align: center;
   color: #254E58;

}
.hero-text-inner .jumbotron{
  background: transparent;
  margin: 0;
}
.hero-text-inner p{
  font-size: 16px;
}
.bg-custom{
   background-color: #ededed;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}

.masthead {
  height: 50vh;
  min-height: 300px;
  // background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background: linear-gradient(to left, rgba(101,173,184,0.5760679271708684) 2%, rgba(205,52,250,0.34637605042016806) 53%, rgba(214,45,253,0.6068802521008403) 77%), url(./img/howitworks.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.masthead1 {
  height: 50vh;
  min-height: 300px;
  // background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background: linear-gradient(to left, rgba(101,173,184,0.5760679271708684) 2%, rgba(205,52,250,0.34637605042016806) 53%, rgba(214,45,253,0.6068802521008403) 77%), url(./img/howitworks.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 -15px;
  color: #fff;
}
.service {
  height: 50vh;
  min-height: 300px;
  background: linear-gradient(to left, rgba(101,173,184,0.5760679271708684) 2%, rgba(205,52,250,0.34637605042016806) 53%, rgba(214,45,253,0.6068802521008403) 77%), url(./img/services.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.about {
  height: 50vh;
  min-height: 300px;
  background: linear-gradient(to left, rgba(101,173,184,0.5760679271708684) 2%, rgba(205,52,250,0.34637605042016806) 53%, rgba(214,45,253,0.6068802521008403) 77%), url(./img/about-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.about_p1 {
  padding: 20px;
}
.about_p1 .card {
  padding: 20px;
  border: none !important;
  background-color: transparent;
  box-shadow: none !important;
}
.steps {
  font-size: 18px;
  padding-top: 10px;
}
.steps li {
  list-style: none;
}
.about_p2 {
  background: rgb(101,173,184);
  background: linear-gradient(97deg, rgba(101,173,184,0.5760679271708684) 2%, rgba(205,52,250,0.8393732492997199) 60%, rgba(214,45,253,0.6068802521008403) 77%);
  padding: 20px;
}

.howitworks .fab {
  font-size: 100px;
}
.howitworks .--mar {
  margin-left: 50px;
  margin-top: 30px;

}
.list-group li{
  list-style: none;
  padding: 4px;
}
.popular-subjects-header {
  text-transform: uppercase;
  text-align: center;
}
.popular-subjects_item {
  border: solid #724DCE 1px;
  background-color: #f5f5f5;
  margin: 6px 2px;
  padding: 2px 8px;
  border-radius: 10px;
}
.footer-text {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
        border-radius: 0;
  }
  .login {
    margin-top: 100px;
  }
  .signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
  }
  .signup-form h2 {
    color: #636363;
        margin: 0 0 15px;
    text-align: center;
    }
    .signup-form .lead {
        font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
  }
    .signup-form form {   
    border-radius: 1px;
      margin-bottom: 15px;
        background: #fff;
    border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
  .signup-form .form-group {
    margin-bottom: 20px;
  }
  .signup-form label {
    font-weight: normal;
    font-size: 13px;
  }
  .signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
  } 
  .signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
  }
    .signup-form .btn {        
        font-size: 16px;
        font-weight: bold;
    background: #19aa8d;
        border-radius: 3px;
    border: none;
    min-width: 140px;
        outline: none !important;
    }
  .signup-form .btn:hover, .signup-form .btn:focus {
    background: #179b81;
  }
  .signup-form a {
    color: #19aa8d;
    text-decoration: none;
  } 
  .signup-form a:hover {
    text-decoration: underline;
  }
  .signup-form .fa {
    font-size: 21px;
  }
  .signup-form .fa-paper-plane {
    font-size: 17px;
  }
  .signup-form .fa-check {
    color: #fff;
    left: 9px;
    top: 18px;
    font-size: 7px;
    position: absolute;
  }
